<nav class="main-header__nav">           
    <ul class="main-header__item-list">
        <li class="main-header__brand">
            <a href="movies.html"><img src="../logo.jpg" alt="brand"></a>
        </li>
        <li class="main-header__item">
            <a class="<%= path === '/'? 'active': ''%>" href="/">Movies</a>
        </li>
        <% if (isAuthenticated) { %>
        <li class="main-header__item">
            <a class="<%= path === '/admin/my-movies'? 'active': ''%>" href="/admin/my-movies">My Collection</a>
        </li>
        
        <li class="main-header__item">
            <a class="<%= path === '/admin/add-movies'? 'active': ''%>" href="/admin/add-movies">Add Movies</a>
        </li>
        <li class="main-header__item">
            <a class="<%= path === 'movies/favorite'? 'active': ''%>" href="/favorite">My Favorites</a>
        </li>
        <% } %>

        
    </ul>
    <ul class="main-header__item-list">
        <li class="main-header__item">
            <a class="<%= path === '/login'? 'active': ''%>" href="/login">Login</a>
        </li>
        <li class="main-header__item">
            <a href="/sign-up">Signup</a   >
        </li>
        <li class="main-header__item">
            <form action="/logout" method="post">
                <button type="submit">Logout</button>
            </form>
        </li>
    </ul>

    
</nav>