<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/movie.css">
</head>
<body>
    <header class="main-header">
        <%- include('../includes/navigation.ejs') %>
    </header>
    <main class="main-area">
        <!-- Main area for the movie list -->
        <!-- <h1>Main Area</h1> -->
        <div class="movie-card">
            <div class="movie__image">
                <div class="movie__poster">
                    
                        <img src="../<%= movie.imageUrl %>" alt="<%= movie._id %>">
                    
                </div>                
            </div>
            <div class="movie__details">
                <div class="movie__title">
                    <h3><%= movie.title %></h3>
                </div>
                <div class="movie__release-date">
                    <h4><%= movie.year %></h4>
                </div>
            </div>                       
        </div>

        <div class="movie__control">
            <a href="/admin/edit-movie/<%= movie._id %>?edit=true" class="btn">Edit</a>
            <form action="/admin/delete-movie" method="POST">
                <input type="hidden" value="<%= movie._id %>" name="movieId">
                <button class="button" type="submit">Delete</button>
            </form>
        </div> 
        
        

    </main>
<%- include('../includes/end.ejs') %>