<%- include('../includes/head.ejs') %>
</head>
<body>
    <header class="main-header">
        <%- include('../includes/navigation.ejs') %>
    </header>
    <main class="main-area">
        <!-- Main area for the movie list -->
        <!-- <h1>Main Area</h1> -->
        <% if (isAuthenticated) { %>
            <h3>Logged In</h3>
            <% } else {%>
            <h3>Not Logged In</h3>
            <% } %>
        <div class="movie">
            <div class="movie__header">
                <div class="movie__title">
                    <h3>Bad Boys for Life</h3>
                </div>
            </div>
            <div class="movie__body">
                <div class="movie__poster">
                    <img src="badboysforlife.jpg" alt="movie-poster">
                </div>
            </div>
            <div class="movie__footer">
                <div class="movie__release-date">
                    <h4>2020</h4>
                </div>
            </div>
        </div>
        
        <div class="movie">
            <div class="movie__header">
                <div class="movie__title">
                    <h3>1917</h3>
                </div>
            </div>
            <div class="movie__body">
                <div class="movie__poster">
                    <img src="1917.jpg" alt="movie-poster">
                </div>
            </div>
            <div class="movie__footer">
                <div class="movie__release-date">
                    <h4>2019</h4>
                </div>
            </div>
        </div>

        <div class="movie">
            <div class="movie__header">
                <div class="movie__title">
                    <h3>Ford v Ferrari</h3>
                </div>
            </div>
            <div class="movie__body">
                <div class="movie__poster">
                    <img src="fordvferrari.jpg" alt="movie-poster">
                </div>
            </div>
            <div class="movie__footer">
                <div class="movie__release-date">
                    <h4>2019</h4>
                </div>
            </div>
        </div>

        <div class="movie">
            <div class="movie__header">
                <div class="movie__title">
                    <h3>Ip Man 4: The Finale</h3>
                </div>
            </div>
            <div class="movie__body">
                <div class="movie__poster">
                    <img src="ipman4.jpg" alt="movie-poster">
                </div>
            </div>
            <div class="movie__footer">
                <div class="movie__release-date">
                    <h4>2019</h4>
                </div>
            </div>
        </div>

        <div class="movie">
            <div class="movie__header">
                <div class="movie__title">
                    <h3>Star Wars: The Rise of Skywalker</h3>
                </div>
            </div>
            <div class="movie__body">
                <div class="movie__poster">
                    <img src="starwars9.jpg" alt="movie-poster">
                </div>
            </div>
            <div class="movie__footer">
                <div class="movie__release-date">
                    <h4>2019</h4>
                </div>
            </div>
        </div>

        <div class="movie">
            <div class="movie__header">
                <div class="movie__title">
                    <h3>Transformers: The Last Knight</h3>
                </div>
            </div>
            <div class="movie__body">
                <div class="movie__poster">
                    <img src="transformersthelastknight.jpg" alt="movie-poster">
                </div>
            </div>
            <div class="movie__footer">
                <div class="movie__release-date">
                    <h4>2017</h4>
                </div>
            </div>
        </div>
        <!-- Main area for the movie list -->
        <!-- <h1>Main Area</h1> -->
        <% if (movies.length > 0) { %>
            <% for (let movie of movies) { %>
                <div class="movie">
                    <div class="movie__header">
                        <div class="movie__title">
                            <h3><%= movie.title %></h3>
                        </div>
                    </div>
                    <div class="movie__body">
                        <div class="movie__poster">
                            <a href="/movies/<%= movie._id %>">
                                <img src="../<%= movie.imageUrl %>" alt="movie-poster">
                            </a>
                        </div>
                    </div>
                    <div class="movie__footer">
                        <div class="movie__release-date">
                            <h4><%= movie.year %></h4>
                        </div>
                    </div>
                    <form action="/favorite" method="post">
                        <button class="btn" type="submit">Add to Favorite</button>
                        <input type="hidden" name="movieId" value="<%= movie._id %>">
                    </form>
                </div>
            <% } %>
        <% } else { %>
            <h1>No Movies</h1>
        <% } %>

    </main>
<%- include('../includes/end.ejs') %>

    
   